header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 90px;
  padding: 20px;
  background: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 130px;
  height: 21px;
}

.header button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
  width: 64px;
  height: 40px;
  background: #e9ecef;
  border: 1.4px solid #e9ecef;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #343a40;
}

.header button:hover {
  background: #343a40;
  color: #e9ecef;
  transition: 0.6s ease;
}
